@import url("styles/header.css");
:root{
    --fonte-principal: "Poppins";
}

body{
    background-color: aliceblue;
    font-family: var(--fonte-principal);
    font-size: 16px
    font-weight: 400;

}